.st1 {
    color: green;
}

.g-center-container {
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.g-login-box {
    max-width: 800px;
}

.tree-item {
    list-style-type: none;
}

.tree-item-caption {
    /*cursor: default;*/
    cursor: pointer;
}

.tree-item-caption:hover {
    text-decoration: underline;
}

.split-pane-gutter {
    /*background: yellow;*/
    /*border: 5px solid green;*/
    height: auto !important; /* To override unfortunate style of component*/
    top: 0;
    bottom: 0;
}

.gallery-thumbnail-container {

}

.gallery-thumbnail {
    display: inline-block;
    float: left;
    vertical-aligh: top;
    /*display: flex;*/
    width: 160px;
    height: 160px;
    border: 1px dotted gray;
    margin: 5px;
    /*cursor: pointer;*/
    text-align: center;
}

.gallery-thumbnail-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image-viewer {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px dashed blue;
    background: rgba(128,128,128, 0.5);
    /*right: 200;*/
    /*bottom: 20;*/
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
}

.image-viewer-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
